/* * {
  outline: 1px solid #f00;
} */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* header */
header {
  line-height: 80px;
  border-bottom: 1px solid #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  gap: 30px;
}

header .icon i {
  padding-left: 20px;
}
/* mainVisual */

.mainVisual {
  position: relative;
}
.mainVisual .container {
  padding: 60px 0 160px 0;
}

.mainVisual .topic h2 {
  font-size: 79px;
  font-weight: 700;
  color: #000;
  margin: 0 0 30px 0;
}
.mainVisual span {
  display: block;
}

.mainVisual .topic p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.5em;
  color: #292929;
  margin-bottom: -50px;
}

.mainVisual .bibigo-logo {
  position: absolute;
  right: 30%;
  z-index: 4;
  transform: translateY(500px);
  opacity: 0;
  -webkit-animation: topmove 2s both;
  animation: topmove 2s both;
}

@-webkit-keyframes topmove {
  to {
    transform: translateY(0);
    opacity: 1;
    transition: 2s;
  }
}

@keyframes topmove {
  to {
    transform: translateY(0);
    opacity: 1;
    transition: 2s;
  }
}

.mainVisual .source {
  position: absolute;
  width: 30%;
  transform: rotate(-20deg);
  z-index: 3;
}
.mainVisual .bibigoImg {
  width: 80%;
  transform: rotate(-20deg);
  margin-left: 250px;
}

/* mainGive */
.mainGive {
  padding: 100px 0;
  background: url(../img/main_give.jpg) no-repeat center center/cover;
}

.mainGive .giveGoal {
  padding-top: 370px;
  text-align: right;
  margin: 0 0 0 auto;
}

.mainGive .giveGoal h2 {
  font-size: 41px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 30px 0;
  text-shadow: 1px 1px 0px #000;
}

.mainGive .giveGoal p {
  font-size: 19px;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 0px 0px #000;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.mainGive .giveGoal p:nth-of-type(1) {
  margin: 0 0 20px 0;
}
.mainGive .giveGoal span {
  font-size: 17px;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
/* main-health*/

.main-health {
  padding: 100px 0;
}
.main-health .container {
  display: flex;
}

.main-health .container h2:nth-of-type(1) {
  color: #000;
  font-size: 37px;
  font-weight: 500;
  margin: 0 15px 0 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  word-spacing: -20px;
}

.main-health .container h2:nth-of-type(2) {
  color: #000;
  font-size: 37px;
  font-weight: 500;
  margin: 0 25px 0 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  padding-top: 60px;
  word-spacing: -20px;
}

.main-health .fish {
  font-size: 21px;
  font-weight: 300px;
  line-height: 1.6em;
  margin: 0 0 0 auto;
  text-align: right;
  letter-spacing: -0.025em;
}

.main-health .fish p:nth-of-type(1) {
  margin: 0 0 40px 0;
}

.main-health .fish p:nth-of-type(2) {
  margin: 0 0 28px 0;
}

/* brand-symbol*/
.brand-symbol {
  padding: 100px 0;
}
.brand-symbol .container {
  display: flex;
}
.brand-symbol .content {
  letter-spacing: -0.04em;
}

.brand-symbol .content h2 {
  font-size: 31px;
  font-weight: 700;
  margin: 0 0 45px 0;
}

.brand-symbol .content h3 {
  font-size: 31px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.brand-symbol .content p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 20px 0;
}

.brand-symbol .content {
  width: 56%;
}

.symbol-img {
  position: relative;
}

.green-box {
  width: 100%;
  height: 190px;
  background: linear-gradient(135deg, transparent 60px, #72af2c 0);
}

.brand-symbol .bibim {
  margin: 0 0 0 auto;
}

.brand-symbol .symbol-img {
  position: relative;
}

.brand-symbol .symbol-img .logo {
  width: 40%;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.brand-symbol .symbol-img .full {
  width: 35%;
  position: absolute;
  top: 220px;
  left: 80px;
}

.brand-symbol .symbol-img .emty {
  width: 35%;
  position: absolute;
  top: 220px;
  right: 80px;
}

.brand-symbol .green-box {
  margin-top: 344px;
}
/* video */
.video {
  padding: 100px 0;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.video h2 {
  font-size: 31px;
  font-weight: 700;
}

.video .top span {
  display: inline-block;
  padding: 10px 20px 14px 20px;
  background-color: #72af2c;
  font-size: 17px;
  color: #fff;
}
.top span i {
  padding-left: 10px;
}
.video .slider img {
  margin: 0 auto;
  width: 70%;
}

.video .slider figure {
  position: relative;
  cursor: g;
}
.video .slider figure .playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.video .slider figure .playBtn i {
  font-size: 80px;
  color: #72af2c;
  transform: rotate(90deg);
}
.video .slider figure .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 998;
}

/* footer */
footer {
  padding: 50px 0;
  border-top: 1px solid #ddd;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .list ul {
  display: flex;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #313131;
}
footer .list > ul li#redFont {
  color: #f00;
}
/* footer .list ul li ~ li {
  padding: 0 10px;
} */
footer .list ul li ~ li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #ddd;
  margin: 0 15px;
}
footer .company ul {
  display: flex;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #313131;
}
footer .company ul li ~ li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #ddd;
  margin: 0 10px;
}
footer p {
  font-size: 13px;
}

footer .right .select {
  margin-bottom: 20px;
}
footer .right .sns {
  margin-bottom: 20px;
  text-align: right;
}
footer .right .sns i {
  font-size: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 50%;
}
footer .right .sns i ~ i {
  margin: 0 2px;
}
footer .right .symbol {
  display: flex;
  gap: 20px;
}
